<h1>Edit Medical Record</h1>
<form [formGroup]="medicalRecordForm" (ngSubmit)="editMedicalRecord()">
  <div class="form-group">
    <label for="issue">Issue:</label>
    <textarea id="issue" formControlName="issue"></textarea>
    <div *ngIf="medicalRecordForm.get('issue').invalid && medicalRecordForm.get('issue').touched">
      Issue is required.
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
    <div *ngIf="medicalRecordForm.get('description').invalid && medicalRecordForm.get('description').touched">
      Description is required.
    </div>
  </div>
  <div class="form-group">
    <label>Date:</label>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="medicalRecordForm.get('date').invalid && medicalRecordForm.get('date').touched">
      Date is required.
    </div>
  </div>
  <div class="form-group">
    <label for="petId">Pet ID:</label>
    <input id="petId" type="number" formControlName="petId" readonly class="readonly-input">
    <div *ngIf="medicalRecordForm.get('petId').invalid && medicalRecordForm.get('petId').touched">
      Pet ID is required.
    </div>
  </div>
  <button type="submit" [disabled]="medicalRecordForm.invalid">Edit</button>
</form>
