<h2><b>My</b>Pets GEI</h2>

<div class="jumbotron">
  <p>Description of the project...</p>
  <p>Source code:</p>
    <ul>
      <li><a href="https://github.com/UdL-EPS-SoftArch/mypets-gei-api" target="_blank">Spring Back-End</a></li>
      <li><a href="https://github.com/UdL-EPS-SoftArch/mypets-gei" target="_blank">Angular Front-End</a></li>
    </ul>
</div>

<!--Footer-->
<footer class="modal-footer">
  <div class="container">
    <div class="text-center">
      <small>Footer...</small>
    </div>
  </div>
</footer>
