<h2>Pets page</h2>
<section>
  <form>
    <input type="text" (input)="filterResultsByName(filter.value)" placeholder="Filter by name" #filter>
    <button class="primary" type="button" (click)="filterResultsByName(filter.value)">Search</button>
    <button *ngIf="!isRole('user') && !isRole('client')" id="editBtn" type="button" [routerLink]="['/pet-grid/add-pet']"  class="btn m-1 btn-outline-success">Add new pet</button>

  </form>
</section>
<section class="results">
  <app-pet *ngFor="let pet of filteredPetsList" [pet]="pet"></app-pet>
</section>
