<!-- medical-record-add.component.html -->
<h1>Add Medical Record</h1>

<form [formGroup]="medicalRecordForm" (ngSubmit)="addMedicalRecord()">
  <div class="form-group">
    <label for="issue">Issue:</label>
    <input type="text" id="issue" formControlName="issue" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" required></textarea>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Date:</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="petId">Pet ID:</label>
    <input type="number" id="petId" formControlName="petId" required>
  </div>
  <button type="submit">Add Medical Record</button>
</form>
