<div class="container">
  <p>pet-details works! id= {{ petData?.id }}</p>
  <img class="img-fluid rounded" [src]="petData.photo" alt="Pet Photo" style="max-width: 200px;">
  <h2>{{ petData.name }}</h2>
  <p>Species: {{ petData.species }}</p>
  <p>Breed: {{ petData.breed }}</p>
  <p>Shelter: {{ petData.shelter }}</p>
  <p>Adopted: {{ petData.isAdopted ? 'Yes' : 'No' }}</p>
  <p>Color: {{ petData.color }}</p>
  <p>Size: {{ petData.size }}</p>
  <p>Weight: {{ petData.weight }} kg</p>
  <p>Age: {{ petData.age }}</p>
  <p>Description: {{ petData.description }}</p>
  <div class="card-footer text-right">
    <button id="editBtn" type="button" [routerLink]="['/pet-details', petData?.id, 'edit']"class="btn m-1 btn-outline-success">Edit Pet</button>
    <button id="deleteBtn" type="button" [routerLink]="['/pet-details', petData?.id, 'delete']" class="btn m-1 btn-outline-danger">Delete</button>
  </div>
</div>
